.landing .images img{
    width: 100%;
    height: 85vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2); 
}
.landing h1 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.landing .subsubcontact{
  line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1rem;
  margin: auto;
  text-align: center;
  max-width: 65em;
}
.landing .contact{
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #39B54A;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.landing .subcontact{
  font-size: 13px;
  color: #FCCD0B;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-align: center;
}
.combined .contactform{
  margin: auto;
  background: white;
  width: 50%;
  height: auto;
}
.combined .contactform h2{
  text-align: center;
}
.combined .contactform form .names{
  display: flex;
 justify-content: center;
  gap: 1rem;
}
@media screen and (max-width:768px) {
  .combined{
    flex-direction: column;
    gap: 1rem;
  }
  .combined .address{
    width: 80%;
    margin: auto;
  }
  .combined .contactform form .names{
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .combined .contactform{
    width: 80%;
  }
  .combined .contactform form .names input{
    width: 80%;
  }
}
.combined .contactform form .bigfield{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.combined .contactform form .names input{
  height: 43px;
  border-radius: 30px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
.combined .contactform form .bigfield .fields input{
  display: flex;
  flex-direction: column;
  height: 43px;
  border-radius: 30px;
   width: 80%;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
}
.combined .contactform form .bigfield .fields .submit{
  background: #ff0000;
  border-color: #ff0000;
  color: white;
  width: 10em;
}


.combined{
  display: flex;
}

.address{
 background: white;
 height: 25em;
 margin-right: 3em;
 width: 30em;
}
.address .p, .h2{
  line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

 .address .h2{
  font-weight: bold;
  margin-left: 1em;
 }

 .address .p{
  color: #8bc34a;
  margin-left: 1em;
 }


 
.landing .heading {
  text-align: center;
}
.landing .info h1 {
    font-family: 'Oswald', sans-serif;
    margin-left: 2.5em;
}
.landing .info {
    background: #017820;
    color: white;                                     
}


.landing .info p {
    font-family:'Titillium Web', sans-serif;
    max-width: 35em;
    margin-left: 4.5em;
    font-size:large;
}


.landing .team{
display: flex;
justify-content: center;
gap: 1rem;
margin-bottom: 2em;
background-size: contain;
background-image: url(./../../Images/image1.jpg);
height: 80vh;
}

.landing .team div img{
    height: 150px;
    width: 100%;
    border-top-left-radius: 10px; /* Adjust the value for the desired pointiness */
    border-top-right-radius: 10px; 
}

.landing .team div{
    font-family:'Titillium Web', sans-serif;
    margin-left: 5px;
    background: rgb(255, 255, 255,0.9);
    height: 25em;
    width: 18em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2); 
    border-radius: 10px;
    margin-top: 2em;
}
.landing .team div h1,h2,h3,p{
  margin-left: 5px;
  margin-top: -3px;
}
.landing .team div .readmore{
  margin-top: 1.5em;
  color: #017820;
}
.landing .team div h3{
  color: #017820;
}

@media screen and (max-width:768px) {
  .landing .team{
    flex-direction: column;
    align-items: center;
    height: 88em;
  }
  }



.slick-prev,
.slick-next {
  font-size: 24px;
  color: #000;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}



/* Add these styles to Landing.css */

.slide {
  position: relative;
}

.slide-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide:hover .slide-text {
  opacity: 1;
}
.landing .images div .pentagon{
  position: fixed;
  margin-top: -14.5em;
  margin-left: 3.3em;
  height: 3em;
  width: 25em;
  border-top-right-radius: 3em; /* Adjust the value for the desired pointiness */
  border-bottom-right-radius: 3em; 
  background-color: white;
  font-size: large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2); 
  display: flex;
  align-items: center;
} 
.landing .images div .pentagon h5{
  font-size: 1.5rem;
  position: absolute;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.landing .images div h3{
  margin-top: -3.5em;
  margin-left: 1em;
  position: absolute;
  font-size: 3.5rem;
  font-weight: 800;
  color: white;
  max-width: 20em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width:768px){
  .landing .images div .pentagon{
    margin-top: -11.0em;
    margin-left: 1.3em;
    width: 15em;
  }
  .landing .images div h3{
    margin-top: -6.5em;
    max-width: 14.5em;
    font-size: x-large;
  }
  .landing .info p {
    margin-left: 1.9em;
  }
  .landing .info h1 {
    margin-left: 1em;
  }
  .landing .images img{
    width: 100%;
    height: 60vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2); 
}
}

.landing .getinvolved{
  background: white;
  width: 500px;
  font-size: 1rem;
  height: auto;
  margin: auto;
}

.landing .getinvolved img{
  width: 400px;
  height: 70vh;
  margin: 0;
}

.landing .getinvolved .infos p{
  font-family: 'Roboto', sans-serif;
  color:#5f7b97;
  max-width: 200px;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  text-align: left;
}


.landing .getinvolved .infos{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing .getinvolved .infos button{
  border: solid#017820 2.5px ;
  margin-top: 1em;
  color:#017820;
background: none;
border-radius: 8px;
width: 25em;
}

.landing .getinvolved .infos button:hover{
  background: #faa51a;
  border: solid#faa51a 2.5px ;
  -webkit-transition: all 0.8s ease-out 0s;
	-moz-transition: all 0.8s ease-out 0s;
	-ms-transition: all 0.8s ease-out 0s;
	-o-transition: all 0.8s ease-out 0s;
	transition: all 0.8s ease-out 0s;
}
.landing .getinvolved{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  
}
.landing .getinvolved .infos h2{
  font-family: 'Oswald', sans-serif;
  max-width: 200px;
  margin: auto;
}

@media screen and (max-width:768px) {
  .landing .getinvolved{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .landing .getinvolved img{
    width: 90%;
    height: auto;
    margin: auto;
  }
  .landing .getinvolved .infos h2{
    max-width: 250px;
  }

  .landing .getinvolved .infos p{
    text-align: left;
    margin-left: 1em;
    font-size: large;
    max-width: 250px;
  }
  .landing .getinvolved .infos button{
    margin-top: -0.1em;
    margin-bottom: 0.9em;
    width: 19em;
  }
}
.wrapper {
  /*This part is important for centering*/
  display: inline-block;
  place-items: center;
}

.typing-demo {
  width: auto;
  max-width: 100%;
  animation: typing 20s, blink .4s step-end infinite alternate;
  white-space: normal;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.success-message{
  background-color: green;
  width: auto;
  border-radius: 5px;
  height: 3em;
  color: white;
}



.infoinfo{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  
}

.infoinfo h1{
font-size: 50px;
color: #000;
margin-bottom: 25px;
position: relative;
}
.infoinfo h1::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}
.infoinfo p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}

.infocontainer{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.infocontainer .about{
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.aboutimage{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.aboutimage img{
max-width: 100%;
height: auto;
display: block;
transition: 0.5s ease;
}
.aboutimage img:hover{
transform: scale(1.2);
}
.aboutcontent{
  flex: 1;
}

.aboutcontent h2{
font-size: 23px;
margin-bottom: 15px;
color: #333;
}

.aboutcontent p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

.aboutcontent .readmore{
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.5 ease;
}

.aboutcontent .readmore:hover{
  background-color: #3e8e41
}

@media screen and (max-width:768px){
  .infoinfo{
    padding: 0px 20px;
  }
  .infoinfo h1{
    font-size: 36px;
  }
  .infoinfo p{
    font-size: 17px;
    margin-bottom: 0px;
  }
  .infocontainer{
    padding: 0px;
  }
  .infocontainer .about{
    padding: 20px;
    flex-direction: column;
  }
  .aboutimage{
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .aboutcontent{
    padding: 0px;
    font-size: 15px;
  }
}
.teambackground{
  background: white;
}
