.header nav{
    height: 4em; 
    background: #a1ce86; 
    width: 100%;
    margin-top: -1em;
    color: white;
  }
  .header nav img{
    height: 50px;
    width: 50px;
   position: absolute;
   margin-top: -3.6em;
    margin-left: 18em;
    border-radius: 25px;
  }

  .header nav ul .linked,.linked2{
    text-decoration: none; /* Remove underline */
    color: white;
  }

  .header nav ul{

    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: -2.5em;
    font-size: large;
  }

  .header nav ul li:hover{
    background: rgb(175, 174, 174);
    border-radius: 3px;
    cursor: pointer;
  }

  .header .sidebar li{
    color: black;
    width: 100%;
  }
  .header nav .sidebar{
    backdrop-filter: blur(10px);
    top: o;
    right: 0;
    height: 100vh;
    box-shadow: -10px 0 10px rgb(0, 0, 0,0.1);
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgb(255, 255, 255,0.2);
    width: 250px;
    z-index: 20;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
  }

  .menu{
    width: 25px;
    height: 25px;
    margin-right: 1em;
    display: none;
  }

  .menu2{
    width: 25px;
    height: 25px;
    margin-right: 1em;
    color: black;
    margin-top: 0.5em;
  }

  @media screen  and (max-width:768px){
    .header nav .linked2{
      display: none;
    }
    .header nav ul .gallery{
      display: none;
    }
    .header nav .sidebar{
      width: 200px;
    }
    .menu{
      display: block;
    }
  }