.detail img{
    border-radius: 15px;
    max-width: 100%; /* Maximum width is the width of the container */
    height: 70vh; 
}

.detail p{
    font-size: large;
    margin-left: 1em;
}
.detail h1{
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #39B54A;
    font-weight: 900;
   
}

@media screen and (max-width:768px) {
    .detail img{
        height: auto; 
    } 
}
